#h1Home {
  margin-top: 0rem;
}

.homeText {
  width: 400px;
  margin-top: 2rem;
  animation: fadeInZoom 0.7s ease-in-out 0.7s both;
  text-align: center;
}

.cardSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4%;
  padding-bottom: 1rem;
  animation: fadeInZoom 0.7s ease-in-out 1s both;
}

/* MOBILE VIEW */

@media screen and (max-width: 660px) {
  #h1Home {
    margin-top: 1rem;
  }

  .homeText {
    width: 100%;
  }
  .cardSection {
    flex-direction: column;
    min-width: 260px;
    padding-bottom: 0.5rem;
  }
}
