.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background: var(--deepGreyBg);
  border: solid #ffffff30 1px;
  border-bottom: solid var(--greySecondary) 2px;
  color: var(--whitePrimary);
  text-decoration: none;
  width: 210px;
  height: auto;
  padding: 1.4rem;
  margin-top: 2.5rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  border: solid var(--greySecondary) 1px;
  box-shadow: 0px 10px 30px #ffffff40;
}

.card lord-icon {
  width: 55px;
  height: 55px;
  --lord-icon-primary: var(--greySecondary);
  --lord-icon-secondary: var(--greySecondary);
}

.card:hover lord-icon {
  --lord-icon-primary: var(--whitePrimary);
  --lord-icon-secondary: var(--whitePrimary);
}

.cardTitle {
  margin: 0.5rem 0rem 0rem 0rem;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

/* MOBILE VIEW */

@media screen and (max-width: 660px) {
  .card {
    width: 250px;
    margin-top: 1.5rem;
  }
}
