.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: var(--whitePrimary);
  text-decoration: none;
  width: 230px;
  height: 155px;
  padding: 1.4rem;
  cursor: pointer;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image:
    linear-gradient(#1b1e25 10%, #12161b), linear-gradient(#ffffff58);
  box-shadow:
    -5px 0 25px -11px #ffffff80,
    5px 0 25px -11px #ffffff80;
  transition: all 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  color: #ffffff;
  background-image:
    linear-gradient(#1b1e25 10%, #12161b),
    linear-gradient(90deg, #00f3ff 0%, #ff00b8 100%);
  box-shadow:
    -10px 0 30px -4px #00f3ffcc,
    10px 0 30px -4px #ff00b8cc;
}

.card lord-icon {
  width: 60px;
  height: 60px;
  --lord-icon-primary: var(--greySecondary);
  --lord-icon-secondary: var(--greySecondary);
}

.card:hover lord-icon {
  --lord-icon-primary: var(--whitePrimary);
  --lord-icon-secondary: var(--whitePrimary);
}

.cardTitle {
  margin: 0.5rem 0rem 0rem 0rem;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-decoration: none;
}

/* MOBILE VIEW */

@media screen and (max-width: 880px) {
  .card {
    width: 280px;
    height: 148px;
    margin-bottom: 1.5rem;
    background-image:
      linear-gradient(#1b1e25 10%, #12161b),
      linear-gradient(90deg, #00f3ff 0%, #ff00b8 100%);
    box-shadow:
      -8px 0 30px -5px #00f3ffcc,
      8px 0 30px -5px #ff00b8cc;
  }
}
