.singleCollapse {
  display: flex;
  flex-direction: column;
  border: solid #3b3b3b 1px;
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 400px;
  padding: 0.3rem;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image:
    linear-gradient(#1b1e25 10%, #12161b), linear-gradient(#ffffff58);
  box-shadow:
    -5px 0 25px -15px #ffffff80,
    5px 0 25px -11px #ffffff80;
  transition: all 0.15s ease-in-out;
}

.singleCollapse:hover {
  background-image:
    linear-gradient(#1b1e25 10%, #12161b),
    linear-gradient(90deg, #00f3ff 0%, #ff00b8 100%);
  box-shadow:
    -10px 0 30px -4px #00f3ffcc,
    10px 0 30px -4px #ff00b8cc;
}

.collapseHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
  color: var(--whitePrimary);
  transition: all 0.2s ease-in-out;
}

.collapseHeader:focus-visible {
  outline: 1px solid #ffffff99;
  outline-offset: -3px;
  border-radius: 0.5rem;
}

.collapseTitle {
  margin: 0;
  font-size: 17px;
  font-weight: 400;
}

.chevron {
  transition: transform 0.3s ease-in-out;
}
.chevron.rotated {
  transform: rotate(-180deg);
}

.collapseText {
  max-height: 0;
  overflow: hidden;
  padding: 0rem 1.2rem;
  background: #0f0f0fb0;
  transition:
    max-height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.collapseText p {
  color: var(--greySecondary);
  font-size: 17px;
  line-height: 1.5;
}

.collapseText.visible {
  max-height: 300px;
  padding: 0.5rem 1.5rem;
  border: solid #2e2e2e 1px;
}

/* TABLET VIEW */

@media screen and (max-width: 1330px) {
  .singleCollapse {
    min-width: auto;
    align-self: center;
    width: 90%;
    box-shadow:
      -5px 0 25px -15px #ffffff80,
      5px 0 25px -15px #ffffff80;
  }
}
