#Error404 {
  font-size: 86px;
  animation: none;
}
#notFound {
  font-size: 25px;
  animation: none;
  margin-bottom: 0.5rem;
}

.backButton {
  font-size: 16px;
  border-radius: 10rem;
  border: solid 1px var(--whitePrimary);
  background-color: #ffffff00;
  color: var(--whitePrimary);
  width: 180px;
  height: 40px;
  margin-top: 1.3rem;
  transition: all 0.18s ease-in-out;
}

.backButton:hover {
  background-color: var(--deepGreyBg);
  border: solid 1px var(--greySecondary);
  color: var(--whitePrimary);
  width: 190px;
  box-shadow: var(--whitePrimary) 0px 0px 20px;
  cursor: pointer;
}

/* TABLET VIEW */

@media screen and (max-width: 1024px) {
  .backButton {
    font-size: 18px;
    background-color: var(--deepGreyBg);
    width: 220px;
    height: 45px;
    margin-top: 2rem;
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 515px) {
  #Error404 {
    font-size: 70px;
    line-height: 0.9;
    margin-bottom: 0.5rem;
  }
  .ErrorPhoneView {
    font-size: 150px;
  }
  #notFound {
    padding: 0rem 1rem;
  }
  .backButton {
    font-size: 18px;
    background-color: var(--deepGreyBg);
    width: 230px;
    height: 47px;
    margin-top: 2.5rem;
  }
}
