#Error404 {
  font-size: 95px;
  animation: none;
}
#notFound {
  font-size: 26px;
  animation: none;
  margin-bottom: 0.5rem;
}

.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #e9e9e9;
  width: 230px;
  height: 47px;
  margin-top: 2rem;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image:
    linear-gradient(#1b1e25 10%, #12161b), linear-gradient(#ffffffad);
  box-shadow:
    -15px 0 30px -12px #ffffff80,
    15px 0 30px -12px #ffffff80;
  transition: all 0.25s ease-in-out;
  animation: fadeInZoom 0.6s ease-in-out 0.6s both;
}

.backButton:hover {
  transform: scale(1.03);
  width: 255px;
  color: #ffffff;
  background-image:
    linear-gradient(#161920, #161920),
    linear-gradient(90deg, #00f3ff 0%, #ff00b8 100%);
  box-shadow:
    -10px 0 30px -4px #00f3ffcc,
    10px 0 30px -4px #ff00b8cc;
}

/* TABLET VIEW */

@media screen and (max-width: 1024px) {
  .backButton {
    font-size: 18px;
    background-color: var(--deepGreyBg);
    width: 290px;
    height: 50px;
    margin-top: 2rem;
    box-shadow:
      -10px 0 30px -4px #00f3ffcc,
      10px 0 30px -4px #ff00b8cc;
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 515px) {
  #Error404 {
    font-size: 70px;
    line-height: 0.9;
    margin-bottom: 0.5rem;
  }
  .ErrorPhoneView {
    font-size: 150px;
  }
  #notFound {
    padding: 0rem 1rem;
  }
  .backButton {
    font-size: 15px;
    background-color: var(--deepGreyBg);
    width: 230px;
    height: 47px;
    margin-top: 2.5rem;
  }
}
