.projectTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60vh;
  gap: 0.5rem;
  text-align: left;
  animation: fadeInZoom 0.7s ease-in-out 0.7s both;
}

.projectTop.reversed {
  flex-direction: row-reverse;
}

.infoProject {
  width: 500px;
}

.projectTop.reversed .infoProject {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  width: 500px;
}

.infoText {
  margin: 2rem 0rem;
}

.gitButton {
  cursor: pointer;
  background-color: #ffffff00;
  border-radius: 5rem;
  border: solid var(--greySecondary) 1px;
  color: var(--whitePrimary);
  font-size: 15px;
  padding: 0.6rem;
  width: 130px;
  transition: all 0.18s ease-in-out;
}

.gitButton:hover {
  background-color: var(--deepGreyBg);
  border: solid 1px var(--greySecondary);
  box-shadow: var(--whitePrimary) 0px 0px 20px;
  color: var(--whitePrimary);
  width: 140px;
  cursor: pointer;
}

.imgProject {
  width: 53%;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.imgProject:hover {
  transform: scale(1.05);
}

.collapseSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 1rem;
  margin-bottom: 6rem;
}

.twoCollapses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  animation: fadeInZoom 0.7s ease-in-out 1s both;
}

/* TABLET VIEW */

@media screen and (max-width: 1150px) {
  .projectTop {
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    gap: 2rem;
    margin-top: 5rem;
    text-align: center;
  }

  .projectTop.reversed {
    flex-direction: column-reverse;
  }

  .infoProject {
    width: 70%;
  }

  .projectTop.reversed .infoProject {
    align-items: center;
    text-align: center;
    width: 70%;
  }
  .gitButton {
    background-color: var(--deepGreyBg);
    border: solid var(--greySecondary) 1px;
    font-size: 15px;
    padding: 0.6rem;
    width: 160px;
  }
  .imgProject {
    width: 70%;
    margin-top: 1rem;
  }
  .collapseSection {
    flex-direction: column;
    margin-top: 3rem;
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 660px) {
  .projectTop {
    margin-top: 4rem;
    padding: 0;
  }
  .infoProject {
    width: 100%;
  }

  .projectTop.reversed .infoProject {
    width: 100%;
  }
  .imgProject {
    width: 100%;
    margin-top: 0rem;
  }
}
