:root {
  --blueBlur: #2500c9;
  --whitePrimary: #ffffff;
  --greySecondary: #b3b3b3;
  --blackTertiary: #212121;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Urbanist Variable", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
  color: var(--whitePrimary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

h1 {
  font-family: "Cal Sans", sans-serif;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  margin: 0rem 0rem 0.5rem 0rem;
  animation: fadeIn 1.3s ease-in-out both;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  line-height: 1;
  color: var(--greySecondary);
  margin: 0;
  animation: fadeIn 1.2s ease-in-out 0.5s both;
}

p {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 1.4;
  text-align: center;
  animation: fadeIn 1.3s ease-in-out 0.9s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* MOBILE VIEW */

@media screen and (max-width: 660px) {
  main {
    padding: 0rem 2rem;
  }
  h1 {
    font-size: 39px;
  }
  h2 {
    font-size: 30px;
  }
}
