:root {
--purpleBlur: #6F00FF;
--whitePrimary: #FFFFFF;
--greySecondary: #B3B3B3;
--blackTertiary: #1C1C1C;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
}

main {
  flex: 1;
}
