:root {
  --purpleBlur: #6f00ff;
  --whitePrimary: #ffffff;
  --greySecondary: #b3b3b3;
  --blackTertiary: #1c1c1c;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 100vh;
  color: var(--whitePrimary);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
